@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&family=Roboto:wght@500&family=Ubuntu:wght@400;500;700&display=swap');

.App {
  background-color: black;
  font-family: Ubuntu;
  font-style: normal;
  letter-spacing: -0.015em;
  width: 100%;
  display: grid;
  grid-template-areas:
    "h"
    "c"
    "f";
  margin: 0 auto;
}

